# Task1 & Task 2

## 1. Download data and do Data Cleaning

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Loads the food balance data & item group data 
total = pd.read_csv("food_balance_total.csv",encoding = "ISO-8859-1", engine='python')
item_group = pd.read_csv("food_balance_item_group.csv")
total=total.merge(item_group, on='Item Code', how='left')
animal=total.loc[total['Item Group Code'] ==2941]
vegetal=total.loc[total['Item Group Code'] ==2903]
animal.to_csv('food_balance_animal.csv')
vegetal.to_csv('food_balance_vegetal.csv')
ani = pd.read_csv("food_balance_animal.csv")
veg = pd.read_csv("food_balance_vegetal.csv")
ani=ani.drop(['Unnamed: 0','Item Group Code', 'Item Group', 'Item_y', 'Factor', 'HS Code','HS07 Code', 'HS12 Code', 'CPC Code'], axis=1)
veg=veg.drop(['Unnamed: 0','Item Group Code', 'Item Group', 'Item_y', 'Factor', 'HS Code','HS07 Code', 'HS12 Code', 'CPC Code'], axis=1)
# Adds variable ‘origin’
veg["origin"] = "vegetal"
ani["origin"] = "animal"

In [3]:
# Adds variable ‘origin’
veg["origin"] = "vegetal"
ani["origin"] = "animal"
# Appends veg and ani to one dataframe
temp = ani.append(veg)
# Deletion of ani and veg file
del ani, veg
# Renaming of temp’s columns
temp.columns = ["country_code", "country",'item_code','item','x1','element','x2','year','unit','value','x3','origin']
# Transformation of ‘temp’ to a pivot table
data = temp.pivot_table(
index=["country_code", "country", "item_code", "item", "year", "origin"],
columns = ["element"], values=["value"], aggfunc=sum)

In [4]:
# Renaming of data’s columns (be careful, the order of the columns needs
# to be adapted to your own data !)
data.columns = ['domestic_supply_quantity', 'export_quantity','fat_supply_quantity_gcapitaday','feed',
'food', 'food_supply_kcalcapitaday','food_supply_quantity_kgcapitayr', 'import_quantity','losses', 'other_uses',
'processing', 'production', 'protein_supply_quantity_gcapitaday','residuals','seed', 'stock_variation', 'tourist_consumption']
# Index columns need to be normal columns
data = data.reset_index()
data.columns
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,import_quantity,losses,other_uses,processing,production,protein_supply_quantity_gcapitaday,residuals,seed,stock_variation,tourist_consumption
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.0,1.0,3.90,110.0,...,344.0,30.0,0.0,16.0,338.0,33.01,46.0,32.0,42.0,NaN
1,1,Armenia,2511,Wheat and products,2015,vegetal,748.0,2.0,4.02,125.0,...,324.0,59.0,0.0,16.0,363.0,33.07,106.0,33.0,-63.0,NaN
2,1,Armenia,2511,Wheat and products,2016,vegetal,650.0,1.0,4.22,128.0,...,312.0,64.0,0.0,17.0,350.0,34.70,-22.0,33.0,11.0,NaN
3,1,Armenia,2511,Wheat and products,2017,vegetal,547.0,1.0,4.28,105.0,...,337.0,15.0,0.0,16.0,176.0,34.36,-42.0,25.0,-34.0,NaN
4,1,Armenia,2511,Wheat and products,2018,vegetal,571.0,1.0,4.40,118.0,...,379.0,16.0,0.0,16.0,187.0,34.25,-27.0,20.0,-5.0,NaN

## 2. Check out  equation relationship

Check out if there are correlations between columns, using example of country: France, product: wheat

In [5]:
#Domestic supply quantity
#=Production+   Import Quantity-  Stock Variation- Export Quantity
#=Feed+seed+Losses+Processing+Other Uses+Residual+Food

df_france=data[(data['year'] ==2018)& (data['country'] =='France')& (data['item'] =='Wheat and products')]
a=df_france['domestic_supply_quantity']
b=df_france['production']+df_france['import_quantity']-df_france['stock_variation']-df_france['export_quantity']
c=df_france['feed']+df_france['seed']+df_france['losses']+df_france['processing']+df_france['other_uses']+df_france['residuals']+df_france['food']
print(a)
print(b)
print(c)

20876    19521.0
Name: domestic_supply_quantity, dtype: float64
20876    19520.0
dtype: float64
20876    19521.0
dtype: float64

## 3. Popolulation calculation

In [6]:
population = total [total.Flag != 'A']
population = population.rename(columns = {'Area Code': 'Area_Code'})
# Get rid of data on China using area code 351
population= population[population.Area_Code!= 351]
#population= population[population.Year== 2014]
population= population[population.Element== 'Total Population - Both sexes']
population=population[['Area', 'Value','Year']]
population['Value']=population['Value']*1000
population = population.rename(columns = {'Area': 'country', 'Value': 'population','Year':'year'}, inplace = False)
population_by_year=population.groupby('year')['population'].sum()
population_by_year=population_by_year.reset_index()
pd.set_option('float_format', '{:f}'.format)
population_per_country=population[population.year== 2014]

In [7]:
population_by_year.head()

   year        population
0  2014 7131485000.000000
1  2015 7212776000.000000
2  2016 7293574000.000000
3  2017 7373798000.000000
4  2018 7453133000.000000

In [8]:
population_per_country.head()

                   country      population  year
0              Afghanistan 33371000.000000  2014
15670              Albania  2896000.000000  2014
31138              Algeria 38924000.000000  2014
47558               Angola 26942000.000000  2014
65559  Antigua and Barbuda    93000.000000  2014

# Task3

In [9]:
#food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,great_import_from_undern_countries

df=pd.merge(data,population_per_country,on='country')
pd.set_option('float_format', '{:f}'.format)
df['food_supply_kcal']=df['food_supply_kcalcapitaday']*df['population']*365
df['food_supply_kgprotein']=df['protein_supply_quantity_gcapitaday']*365*0.001*df['population']
df['food_supply_kg']=df['food']*1000000
df['ratio_kcalkg']=df['food_supply_kcal']/df['food_supply_kg']
df['protein_percentage']=df['food_supply_kgprotein']/df['food_supply_kg']
df['dom_sup_kcal']=df['ratio_kcalkg']*df['domestic_supply_quantity']*1000000
df['dom_sup_kgprot']=df['protein_percentage']*df['domestic_supply_quantity']*1000000
df=df.fillna(0)
df.head()

,country_code,country,item_code,item,year_x,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,tourist_consumption,population,year_y,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.000000,1.000000,3.900000,110.000000,...,0.000000,2912000.000000,2014,1176608160000.000000,35085668.800000,406000000.000000,2898.049655,0.086418,1851853729655.172119,55221040.303448
1,1,Armenia,2511,Wheat and products,2015,vegetal,748.000000,2.000000,4.020000,125.000000,...,0.000000,2912000.000000,2014,1178733920000.000000,35149441.600000,409000000.000000,2881.990024,0.085940,2155728538288.508545,64283086.349144
2,1,Armenia,2511,Wheat and products,2016,vegetal,650.000000,1.000000,4.220000,128.000000,...,0.000000,2912000.000000,2014,1237192320000.000000,36881936.000000,432000000.000000,2863.871111,0.085375,1861516222222.222168,55493653.703704
3,1,Armenia,2511,Wheat and products,2017,vegetal,547.000000,1.000000,4.280000,105.000000,...,0.000000,2912000.000000,2014,1226563520000.000000,36520556.800000,428000000.000000,2865.802617,0.085328,1567594031401.869141,46674636.844860
4,1,Armenia,2511,Wheat and products,2018,vegetal,571.000000,1.000000,4.400000,118.000000,...,0.000000,2912000.000000,2014,1223374880000.000000,36403640.000000,428000000.000000,2858.352523,0.085055,1632119290841.121338,48566538.411215

# Task4

Load food security data to get malnutrition information and do necessary cleanings

In [10]:
food_security = pd.read_csv("food_security.csv")
food_security.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,2,Afghanistan,6121,Value,21010,Average dietary energy supply adequacy (percen...,20132015,2013-2015,%,96,F,FAO estimate,nan
1,FS,Suite of Food Security Indicators,2,Afghanistan,6122,Value,21011,Average value of food production (constant 200...,20132015,2013-2015,I$ per person,104,F,FAO estimate,nan
2,FS,Suite of Food Security Indicators,2,Afghanistan,6128,Value,22000,Dietary energy supply used in the estimation o...,20132015,2013-2015,kcal/capita/day,2040,F,FAO estimate,nan
3,FS,Suite of Food Security Indicators,2,Afghanistan,6121,Value,21012,Share of dietary energy supply derived from ce...,20132015,2013-2015,%,74,F,FAO estimate,nan
4,FS,Suite of Food Security Indicators,2,Afghanistan,6123,Value,21013,Average protein supply (g/cap/day) (3-year ave...,20132015,2013-2015,g/capita/day,56,F,FAO estimate,nan

In [11]:
## find a country with malnutrition rate over 10percent
malnutrition_data=food_security.loc[(food_security['Item'] == 'Prevalence of undernourishment (percent) (3-year average)')]
malnutrition_data=malnutrition_data.replace({'Value': {'<': ''}}, regex=True)
malnutrition_data = malnutrition_data[malnutrition_data['Value'].notna()]
#malnutrition_data.sort_values("Value")
malnutrition_data.Value= malnutrition_data.Value.astype(float)
malnutrition_data=malnutrition_data.loc[(malnutrition_data['Value'] >10)]
malnutrition_data=malnutrition_data.drop(['Domain Code','Domain', 'Area Code', 'Element Code', 'Element', 'Item Code','Year Code', 'Year', 'Unit','Flag','Flag Description','Note'], axis=1)
malnutrition_data = malnutrition_data.rename(columns = {'Area': 'country'}, inplace = False)
malnutrition_data.head()

,country,Item,Value
8,Afghanistan,Prevalence of undernourishment (percent) (3-ye...,26.400000
93,Angola,Prevalence of undernourishment (percent) (3-ye...,23.100000
291,Bangladesh,Prevalence of undernourishment (percent) (3-ye...,14.500000
459,Bolivia (Plurinational State of),Prevalence of undernourishment (percent) (3-ye...,17.300000
505,Botswana,Prevalence of undernourishment (percent) (3-ye...,19.400000

In [12]:
## malnutrition data without filtering
malnutrition_data_total=food_security.loc[(food_security['Item'] == 'Prevalence of undernourishment (percent) (3-year average)')]
malnutrition_data_total=malnutrition_data_total.replace({'Value': {'<': ''}}, regex=True)
malnutrition_data_total = malnutrition_data_total[malnutrition_data_total['Value'].notna()]
#malnutrition_data.sort_values("Value")
malnutrition_data_total.Value= malnutrition_data_total.Value.astype(float)
malnutrition_data_total=malnutrition_data_total.drop(['Domain Code','Domain', 'Area Code', 'Element Code', 'Element', 'Item Code','Year Code', 'Year', 'Unit','Flag','Flag Description','Note'], axis=1)
malnutrition_data_total = malnutrition_data_total.rename(columns = {'Area': 'country'}, inplace = False)
malnutrition_data_total.head()

         country                                               Item     Value
8    Afghanistan  Prevalence of undernourishment (percent) (3-ye... 26.400000
28       Albania  Prevalence of undernourishment (percent) (3-ye...  4.500000
52       Algeria  Prevalence of undernourishment (percent) (3-ye...  3.300000
93        Angola  Prevalence of undernourishment (percent) (3-ye... 23.100000
136    Argentina  Prevalence of undernourishment (percent) (3-ye...  2.500000

In [13]:
df=df.rename(columns={"year_x": "year"})
exported=df.loc[(df['year'] ==2018)]
exported=exported[["country", "item","export_quantity","year"]]
exported = exported[exported['export_quantity'].notna()]
## finding 25 most exported items by countries with mal-nutrition rate over 10% - using left join
exported_items_top_25= pd.merge(malnutrition_data,exported,on='country',how='left')
exported_items_top_25=exported_items_top_25.groupby('item')['export_quantity'].sum()
exported_items_top_25= pd.DataFrame(data=exported_items_top_25)
exported_items_top_25=exported_items_top_25.reset_index()
exported_items_top_25=exported_items_top_25.nlargest(25,['export_quantity'])
exported_items_top_25

                          item  export_quantity
73           Rice and products     25213.000000
4                      Bananas     14008.000000
83      Sugar (Raw Equivalent)      9210.000000
94          Wheat and products      3730.000000
93           Vegetables, Other      3299.000000
62                Pelagic Fish      2455.560000
41          Maize and products      2417.000000
17    Cocoa Beans and products      2151.000000
66     Pineapples and products      2042.000000
32               Fruits, Other      2038.000000
56                      Onions      2037.000000
58                    Palm Oil      2028.000000
20         Coffee and products      1761.000000
49           Nuts and products      1560.000000
77                 Sesame seed      1555.000000
6                        Beans      1520.000000
68       Potatoes and products      1505.000000
24                 Crustaceans      1487.830000
10                 Bovine Meat      1370.000000
0            Alcohol, Non-Food      1330.000000
36     Groundnuts (Shelled Eq)      1321.000000
70  Pulses, Other and products      1103.000000
12        Cassava and products      1088.000000
19       Coconuts - Incl Copra       980.000000
18                 Coconut Oil       975.000000

In [14]:
import_items=df.loc[(df['year'] ==2018)]
#import_items=import_items[["country", "item","import_quantity","year"]]
import_items_top_25=import_items.merge(exported_items_top_25, on='item', how='left', indicator=True)
import_items_top_25=import_items_top_25.nlargest(200,['import_quantity'])
import_items_top_25=import_items_top_25.replace({'_merge': {'both': 'True', 'left_only': 'False'}})
import_items_top_25

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity_x,fat_supply_quantity_gcapitaday,feed,...,year_y,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,export_quantity_y,_merge
2467,41,"China, mainland",2555,Soyabeans,2018,vegetal,105888.000000,178.000000,1.100000,9110.000000,...,2014,17367224140000.000000,1593698215.200000,5001000000.000000,3472.750278,0.318676,367722581430977.812500,33743954531.313255,nan,False
2454,41,"China, mainland",2532,Cassava and products,2018,vegetal,29783.000000,37.000000,0.010000,15600.000000,...,2014,3064804260000.000000,25540035.500000,2828000000.000000,1083.735594,0.009031,32276897197871.285156,268974143.315594,1088.000000,True
9186,138,Mexico,2514,Maize and products,2018,vegetal,40514.000000,1223.000000,11.030000,18622.000000,...,2014,43709927125000.000000,1126354303.000000,14813000000.000000,2950.781552,0.076038,119547963784665.500000,3080612855.717410,2417.000000,True
7039,110,Japan,2514,Maize and products,2018,vegetal,15819.000000,1.000000,0.260000,12010.000000,...,2014,3789316485000.000000,9824153.850000,1685000000.000000,2248.852513,0.005830,35574597908732.937500,92230439.022641,2417.000000,True
15261,237,Viet Nam,2514,Maize and products,2018,vegetal,14655.000000,82.000000,1.160000,12259.000000,...,2014,4150975640000.000000,103104878.800000,1402000000.000000,2960.752953,0.073541,43389834525106.992188,1077747502.720400,2417.000000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5421,90,Guinea,2805,Rice and products,2018,vegetal,3527.000000,0.000000,1.680000,915.000000,...,2014,4135236840000.000000,80669679.300000,2096000000.000000,1972.918340,0.038487,6958482984103.052734,135745209.394609,25213.000000,True
1380,21,Brazil,2659,"Alcohol, Non-Food",2018,vegetal,2727.000000,1342.000000,0.000000,0.000000,...,2014,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1330.000000,True
6464,103,Iraq,2805,Rice and products,2018,vegetal,1676.000000,0.000000,0.640000,0.000000,...,2014,3673708940000.000000,70349910.200000,1660000000.000000,2213.077675,0.042379,3709118182795.181152,71027981.623614,25213.000000,True
4150,68,France,2531,Potatoes and products,2018,vegetal,5972.000000,2729.000000,0.130000,440.000000,...,2014,2195112920000.000000,51138894.400000,3292000000.000000,666.802224,0.015534,3982142879173.754883,92770801.141191,1505.000000,True
14652,229,United Kingdom of Great Britain and Northern I...,2625,"Fruits, Other",2018,vegetal,1426.000000,101.000000,0.870000,0.000000,...,2014,835778825000.000000,9790551.950000,1385000000.000000,603.450415,0.007069,860520292021.660645,10080380.563682,2038.000000,True

# Task5:Run code to answer business questions

## Question 1: considering only plant products, what portion of global domestic supply is used as food,feed,losses,other uses?

In [15]:
plant_data_2018=df[(df['year'] ==2018)& (df['origin'] =='vegetal')]
plant_data_2018=plant_data_2018.fillna(0)
#plant_data_2018['food_feed_loss_other']=plant_data_2018['food']+plant_data_2018['feed']+plant_data_2018['losses']+plant_data_2018['other_uses']
#plant_data_2018=plant_data_2018[["domestic_supply_quantity", "food_feed_loss_other"]]
#plant_data_2018.food_feed_loss_other.sum()/plant_data_2018.domestic_supply_quantity.sum()*100
plant_data_2018['all']=plant_data_2018['feed']+plant_data_2018['seed']+plant_data_2018['losses']+plant_data_2018['processing']+plant_data_2018['other_uses']+plant_data_2018['residuals']+plant_data_2018['food']
print("losses")
print(plant_data_2018['losses'].sum()/plant_data_2018['all'].sum()*100)
print("other_uses")
print(plant_data_2018['other_uses'].sum()/plant_data_2018['all'].sum()*100)
print("food")
print(plant_data_2018['food'].sum()/plant_data_2018['all'].sum()*100)
print("feed")
print(plant_data_2018['feed'].sum()/plant_data_2018['all'].sum()*100)

losses
5.752842076271178
other_uses
9.371544850916461
food
42.6542867407357
feed
13.605499489613049

In [16]:
plant_data_2018.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,population,year_y,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot,all
4,1,Armenia,2511,Wheat and products,2018,vegetal,571.000000,1.000000,4.400000,118.000000,...,2912000.000000,2014,1223374880000.000000,36403640.000000,428000000.000000,2858.352523,0.085055,1632119290841.121338,48566538.411215,571.000000
9,1,Armenia,2513,Barley and products,2018,vegetal,141.000000,0.000000,0.030000,94.000000,...,2912000.000000,2014,6377280000.000000,212576.000000,2000000.000000,3188.640000,0.106288,449598240000.000000,14986608.000000,141.000000
14,1,Armenia,2514,Maize and products,2018,vegetal,78.000000,0.000000,0.000000,71.000000,...,2912000.000000,2014,1062880000.000000,31886.400000,0.000000,inf,inf,inf,inf,77.000000
19,1,Armenia,2515,Rye and products,2018,vegetal,1.000000,0.000000,0.000000,1.000000,...,2912000.000000,2014,1062880000.000000,31886.400000,0.000000,inf,inf,inf,inf,1.000000
24,1,Armenia,2516,Oats,2018,vegetal,6.000000,0.000000,0.110000,4.000000,...,2912000.000000,2014,6377280000.000000,244462.400000,2000000.000000,3188.640000,0.122231,19131840000.000000,733387.200000,6.000000

## Question 2: How many humans on earth could be fed if all the plant-based food supply (crops), including food and feed, was used for human consumption? Result in Calories and Protein and Express as a percentage of world's population.

In [17]:
plant_data_total=df[(df['origin'] =='vegetal')]
plant_feed_capacity=plant_data_total[['country','year','item_code','item','food','feed','ratio_kcalkg','protein_percentage']]
plant_feed_capacity['kcal']=(plant_feed_capacity['food']+plant_feed_capacity['feed'])*1000000*plant_feed_capacity['ratio_kcalkg']
plant_feed_capacity['protein_kg']=(plant_feed_capacity['food']+plant_feed_capacity['feed'])*1000000*plant_feed_capacity['protein_percentage']
plant_feed_capacity=plant_feed_capacity.replace([np.inf, -np.inf], np.nan)
plant_feed_capacity['kcal']=plant_feed_capacity['kcal'].fillna(0)
plant_feed_capacity['protein_kg']=plant_feed_capacity['protein_kg'].fillna(0)
plant_feed_capacity=plant_feed_capacity.groupby(['year'])['kcal','protein_kg'].sum()
plant_feed_capacity=plant_feed_capacity.reset_index()
plant_feed_capacity

C:\Users\jjanbeb\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jjanbeb\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   year                    kcal          protein_kg
0  2014 8703058564109355.000000 191073508643.792419
1  2015 8905403661768202.000000 197036974654.184662
2  2016 8916283073007392.000000 196206588100.445862
3  2017 9039091533579762.000000 201118985269.119507
4  2018 9012830688379056.000000 198806676817.483765

In [18]:
#Daily Carlories and protein requirements for average human
daily_carl=2000
daily_protein=0.05
#Creating new column calculating amount of people that could be fed in 2014 and 2018
plant_feed_capacity['pop_fed_bykcal']=plant_feed_capacity['kcal']/daily_carl/365
plant_feed_capacity['pop_fed_bykcal']=plant_feed_capacity['pop_fed_bykcal'].round(0)
plant_feed_capacity['pop_fed_byprotein']=plant_feed_capacity['protein_kg']/daily_protein/365
plant_feed_capacity['pop_fed_byprotein']=plant_feed_capacity['pop_fed_byprotein'].round(0)
plant_popualtion=pd.merge(population_by_year,plant_feed_capacity, on='year',how='left')
plant_feed_capacity['percentage_pop_fed_kcal']=100*plant_feed_capacity['pop_fed_bykcal']/plant_popualtion['population']
plant_feed_capacity['percentage_pop_fed_protein']=100*plant_feed_capacity['pop_fed_byprotein']/plant_popualtion['population']
plant_feed_capacity

## Answer: kcal - 165~169 protein: 146~149 -assuming that average daily calory intake is 2000kcal, and protein is 50g

,year,kcal,protein_kg,pop_fed_bykcal,pop_fed_byprotein,percentage_pop_fed_kcal,percentage_pop_fed_protein
0,2014,8703058564109355.000000,191073508643.792419,11921998033.000000,10469781296.000000,167.174130,146.810675
1,2015,8905403661768202.000000,197036974654.184662,12199183098.000000,10796546556.000000,169.132982,149.686425
2,2016,8916283073007392.000000,196206588100.445862,12214086401.000000,10751045923.000000,167.463666,147.404358
3,2017,9039091533579762.000000,201118985269.119507,12382317169.000000,11020218371.000000,167.923195,149.451048
4,2018,9012830688379056.000000,198806676817.483765,12346343409.000000,10893516538.000000,165.653067,146.160233

## Question3: How many humans could be fed with the global food supply? Give the results in terms of calories and protein. Express these two results as a percentage of the world's population.

In [19]:
global_feed_capacity=df
global_feed_capacity.head()
global_feed_capacity=global_feed_capacity[['country','year','item_code','item','food','feed','ratio_kcalkg','protein_percentage']]
global_feed_capacity['kcal']=(global_feed_capacity['food']+global_feed_capacity['feed'])*1000000*global_feed_capacity['ratio_kcalkg']
global_feed_capacity['protein_kg']=(global_feed_capacity['food']+global_feed_capacity['feed'])*1000000*global_feed_capacity['protein_percentage']
global_feed_capacity=global_feed_capacity.replace([np.inf, -np.inf], np.nan)
global_feed_capacity['kcal']=global_feed_capacity['kcal'].fillna(0)
global_feed_capacity['protein_kg']=global_feed_capacity['protein_kg'].fillna(0)
global_feed_capacity=global_feed_capacity.groupby(['year'])['kcal','protein_kg'].sum()
global_feed_capacity=global_feed_capacity.reset_index()

C:\Users\jjanbeb\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\jjanbeb\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [20]:
#Daily Carlories and protein requirements for average human
daily_carl=2000
daily_protein=0.05
#Creating new column calculating amount of people that could be fed in 2014 and 2018
global_feed_capacity['pop_fed_bykcal']=global_feed_capacity['kcal']/daily_carl/365
global_feed_capacity['pop_fed_bykcal']=global_feed_capacity['pop_fed_bykcal'].round(0)
global_feed_capacity['pop_fed_byprotein']=global_feed_capacity['protein_kg']/daily_protein/365
global_feed_capacity['pop_fed_byprotein']=global_feed_capacity['pop_fed_byprotein'].round(0)
global_popualtion=pd.merge(population_by_year,global_feed_capacity, on='year',how='left')
global_feed_capacity['percentage_pop_fed_kcal']=100*global_feed_capacity['pop_fed_bykcal']/global_popualtion['population']
global_feed_capacity['percentage_pop_fed_protein']=100*global_feed_capacity['pop_fed_byprotein']/global_popualtion['population']
global_feed_capacity

#answer kcal: 193~196  protein: 213~217 assuming that average daily calory intake is 2000kcal, and protein is 50g

,year,kcal,protein_kg,pop_fed_bykcal,pop_fed_byprotein,percentage_pop_fed_kcal,percentage_pop_fed_protein
0,2014,10132246051343626.000000,279411076237.962280,13879789111.000000,15310195958.000000,194.626913,214.684543
1,2015,10350763920915920.000000,285999474835.060669,14179128659.000000,15671204101.000000,196.583516,217.270079
2,2016,10373989391427984.000000,285790184620.062561,14210944372.000000,15659736144.000000,194.841985,214.705934
3,2017,10511880889407266.000000,292014570789.501221,14399836835.000000,16000798399.000000,195.283853,216.995345
4,2018,10514836195553596.000000,290759073323.043457,14403885199.000000,15932004018.000000,193.259468,213.762508

## Question4: what proportion of the world's population is considered undernourished?

In [21]:
malnutrition_data_total

,country,Item,Value
8,Afghanistan,Prevalence of undernourishment (percent) (3-ye...,26.400000
28,Albania,Prevalence of undernourishment (percent) (3-ye...,4.500000
52,Algeria,Prevalence of undernourishment (percent) (3-ye...,3.300000
93,Angola,Prevalence of undernourishment (percent) (3-ye...,23.100000
136,Argentina,Prevalence of undernourishment (percent) (3-ye...,2.500000
...,...,...,...
4148,Uruguay,Prevalence of undernourishment (percent) (3-ye...,2.500000
4170,Uzbekistan,Prevalence of undernourishment (percent) (3-ye...,4.700000
4192,Vanuatu,Prevalence of undernourishment (percent) (3-ye...,7.100000
4211,Venezuela (Bolivarian Republic of),Prevalence of undernourishment (percent) (3-ye...,8.600000
4234,Viet Nam,Prevalence of undernourishment (percent) (3-ye...,9.000000

In [22]:
malnutiriton_population=pd.merge(malnutrition_data_total,population_per_country,on='country',how='left')
malnutiriton_population['population_multiple_value']=malnutiriton_population['population']*malnutiriton_population['Value']/100
population_sum=population_per_country.population.sum()
malnutrition_sum=malnutiriton_population['population_multiple_value'].sum()

malnutrition_sum/population_sum*100

#Answer: 8.4% of population is considered as malnutritioned population.
# Reference: https://news.un.org/en/story/2020/07/1068261#:~:text=Key%20numbers,in%20the%20world%20are%20hungry.
# Above reference from UN shows that 8.9% of population is hungry, which is close to calulation result.

8.407273141568691

## Question5:Considering the 25 items most exported by the countries with a high rate of undernutrition, which three of them:Have the greatest other_uses to domestic_supply_quantity ratio and what are they used for?Have the greatest feed to (food+feed) ratio and what are they used for?

In [23]:
group_item=df.groupby(['item'])['food','feed','domestic_supply_quantity','other_uses'].sum().reset_index()
top_three=pd.merge(group_item,exported_items_top_25,on='item')
top_three['ratio_other_domsupply']=top_three['other_uses']/top_three['domestic_supply_quantity']
top_three['ratio_feed_foofeed']=top_three['food']/(top_three['food']+top_three['feed'])
ratio_other_domsupply=top_three.sort_values(by='ratio_other_domsupply', ascending=False)
ratio_feed_foofeed=top_three.sort_values(by='ratio_feed_foofeed', ascending=False)
ratio_other_domsupply.head(3)
## Answer 1: alcohol,non-food, palm oil, coconut oil have highest other uses vs domestic_supply quantity ratio

,item,food,feed,domestic_supply_quantity,other_uses,export_quantity,ratio_other_domsupply,ratio_feed_foofeed
0,"Alcohol, Non-Food",23.000000,0.000000,74644.000000,75151.000000,1330.000000,1.006792,1.000000
15,Palm Oil,78575.000000,204.000000,299634.000000,162216.000000,2028.000000,0.541380,0.997410
6,Coconut Oil,6043.000000,0.000000,13675.000000,3803.000000,975.000000,0.278099,1.000000

In [24]:
df.columns

Index(['country_code', 'country', 'item_code', 'item', 'year', 'origin',
       'domestic_supply_quantity', 'export_quantity',
       'fat_supply_quantity_gcapitaday', 'feed', 'food',
       'food_supply_kcalcapitaday', 'food_supply_quantity_kgcapitayr',
       'import_quantity', 'losses', 'other_uses', 'processing', 'production',
       'protein_supply_quantity_gcapitaday', 'residuals', 'seed',
       'stock_variation', 'tourist_consumption', 'population', 'year_y',
       'food_supply_kcal', 'food_supply_kgprotein', 'food_supply_kg',
       'ratio_kcalkg', 'protein_percentage', 'dom_sup_kcal', 'dom_sup_kgprot'],
      dtype='object')

In [25]:
ratio_feed_foofeed.head(3).head()
## Answer 2: alcohol, non-food, nuts and products, pinapples and products have highest feed vs food+feed ratio

,item,food,feed,domestic_supply_quantity,other_uses,export_quantity,ratio_other_domsupply,ratio_feed_foofeed
0,"Alcohol, Non-Food",23.000000,0.000000,74644.000000,75151.000000,1330.000000,1.006792,1.000000
13,Nuts and products,74911.000000,0.000000,77064.000000,180.000000,1560.000000,0.002336,1.000000
17,Pineapples and products,105974.000000,0.000000,117248.000000,0.000000,2042.000000,0.000000,1.000000

## Question6: Taking only grains(cereals) for food and feed into account, what proprtion is used for feed? (kg)

In [26]:
item_group=item_group.rename(columns={"Item": "item", "Item Group Code": "item_group_code"})
item_group.head()

,item_group_code,Item Group,Item Code,item,Factor,HS Code,HS07 Code,HS12 Code,CPC Code
0,2924,Alcoholic Beverages,2659,"Alcohol, Non-Food",1,nan,nan,nan,S2659
1,2924,Alcoholic Beverages,2656,Beer,1,nan,nan,nan,S2656
2,2924,Alcoholic Beverages,2658,"Beverages, Alcoholic",1,nan,nan,nan,S2658
3,2924,Alcoholic Beverages,2657,"Beverages, Fermented",1,nan,nan,nan,S2657
4,2924,Alcoholic Beverages,2655,Wine,1,nan,nan,nan,S2655

In [27]:
df.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,tourist_consumption,population,year_y,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.000000,1.000000,3.900000,110.000000,...,0.000000,2912000.000000,2014,1176608160000.000000,35085668.800000,406000000.000000,2898.049655,0.086418,1851853729655.172119,55221040.303448
1,1,Armenia,2511,Wheat and products,2015,vegetal,748.000000,2.000000,4.020000,125.000000,...,0.000000,2912000.000000,2014,1178733920000.000000,35149441.600000,409000000.000000,2881.990024,0.085940,2155728538288.508545,64283086.349144
2,1,Armenia,2511,Wheat and products,2016,vegetal,650.000000,1.000000,4.220000,128.000000,...,0.000000,2912000.000000,2014,1237192320000.000000,36881936.000000,432000000.000000,2863.871111,0.085375,1861516222222.222168,55493653.703704
3,1,Armenia,2511,Wheat and products,2017,vegetal,547.000000,1.000000,4.280000,105.000000,...,0.000000,2912000.000000,2014,1226563520000.000000,36520556.800000,428000000.000000,2865.802617,0.085328,1567594031401.869141,46674636.844860
4,1,Armenia,2511,Wheat and products,2018,vegetal,571.000000,1.000000,4.400000,118.000000,...,0.000000,2912000.000000,2014,1223374880000.000000,36403640.000000,428000000.000000,2858.352523,0.085055,1632119290841.121338,48566538.411215

In [28]:
cereal=df.merge(item_group, on='item', how='left')
cereal=cereal[(cereal['item_group_code']==2905)]
cereal.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,dom_sup_kcal,dom_sup_kgprot,item_group_code,Item Group,Item Code,Factor,HS Code,HS07 Code,HS12 Code,CPC Code
0,1,Armenia,2511,Wheat and products,2014,vegetal,639.000000,1.000000,3.900000,110.000000,...,1851853729655.172119,55221040.303448,2905,Cereals - Excluding Beer,2511,1,nan,nan,nan,S2511
3,1,Armenia,2511,Wheat and products,2015,vegetal,748.000000,2.000000,4.020000,125.000000,...,2155728538288.508545,64283086.349144,2905,Cereals - Excluding Beer,2511,1,nan,nan,nan,S2511
6,1,Armenia,2511,Wheat and products,2016,vegetal,650.000000,1.000000,4.220000,128.000000,...,1861516222222.222168,55493653.703704,2905,Cereals - Excluding Beer,2511,1,nan,nan,nan,S2511
9,1,Armenia,2511,Wheat and products,2017,vegetal,547.000000,1.000000,4.280000,105.000000,...,1567594031401.869141,46674636.844860,2905,Cereals - Excluding Beer,2511,1,nan,nan,nan,S2511
12,1,Armenia,2511,Wheat and products,2018,vegetal,571.000000,1.000000,4.400000,118.000000,...,1632119290841.121338,48566538.411215,2905,Cereals - Excluding Beer,2511,1,nan,nan,nan,S2511

In [29]:
cereal_filtered=cereal[["feed", "food"]]
cereal_filtered['feed_and_food']=cereal_filtered['food']+cereal_filtered['feed']
cereal_feed_and_food=cereal_filtered['feed_and_food'].sum()
cereal_feed=cereal_filtered['feed'].sum()
cereal_feed/cereal_feed_and_food*100

## Answer: 41%

C:\Users\jjanbeb\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

41.81032893774549

## Question7: How many tons of grains (cereals) could be released if the US reduced its production of animal products by 10%? Convert this quantity to kcal, and the number of potentially fed humans.

In [30]:
pd.set_option('float_format', '{:f}'.format)
us_animal_production=df[(df['country'] =='United States of America')& (df['origin'] =='animal')& (df['year'] ==2018)]
us_animal_production=us_animal_production[["country", "item","food_supply_kcal","production",'population','feed','year','ratio_kcalkg']]
us_animal_production=us_animal_production.fillna(0)

us_cereals_production=cereal
us_cereals_production=cereal[(cereal['country'] =='United States of America')&(cereal['year'] ==2018)]
us_cereals_production=us_cereals_production[["year","country", "item","food_supply_kcal","production",'population','feed','ratio_kcalkg']]
us_cereals_production=us_cereals_production.fillna(0)

reduced_animal_production=us_animal_production.production.sum()*1000000*0.1
released_cereal_amount=reduced_animal_production*7 ## multiply by 7, assuming that 7kg of cereals are relased for 1kg of animal food
released_cereal_amount

##reference: here in order to calculation how much of cereals could be released per 1kg of meat, used ratio 7kg according to reference here: https://www.theglobalist.com/food-for-thought-2/

114903789000.00003

In [31]:
## used 2000kcal per day as reference figure that how many kcal will need to be consumed by one human
possible_fed_human=released_cereal_amount/2000
possible_fed_human

57451894.500000015

## Question8:In Thailand, what proportion of cassava is exported? What is the proportion of undernutrition?

In [32]:
thailand_data=df[(df['country'] =='Thailand')& (df['item'] =='Cassava and products')]
cassava_export_ratio=thailand_data.export_quantity.sum()/thailand_data.production.sum()
cassava_export_ratio*100

## answer: 90%
## reference: https://www.researchgate.net/publication/336362874_International_Journal_of_Social_Science_and_Economic_Research_WORLD_TRADE_OF_CASSAVA_WITH_SPECIAL_REFERENCE_TO_THAILAND#:~:text=On%20an%20average%20the%20share,86.57%20percent%20in%202016%2D17.
## According to study Thailand's cassave product export ratio is close to 90%

90.4748246460327

In [33]:
thailand_data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_gcapitaday,feed,...,tourist_consumption,population,year_y,food_supply_kcal,food_supply_kgprotein,food_supply_kg,ratio_kcalkg,protein_percentage,dom_sup_kcal,dom_sup_kgprot
69172,216,Thailand,2532,Cassava and products,2014,vegetal,5471.000000,26009.000000,0.020000,2124.000000,...,0.000000,68439000.000000,2014,349723290000.000000,1249011.750000,316000000.000000,1106.719272,0.003953,6054861137943.038086,21624504.064082
69173,216,Thailand,2532,Cassava and products,2015,vegetal,5659.000000,30995.000000,0.020000,2037.000000,...,0.000000,68439000.000000,2014,349723290000.000000,1249011.750000,323000000.000000,1082.734644,0.003867,6127195350185.759766,21882840.536378
69174,216,Thailand,2532,Cassava and products,2016,vegetal,6647.000000,30080.000000,0.010000,4076.000000,...,0.000000,68439000.000000,2014,224822115000.000000,749407.050000,216000000.000000,1040.843125,0.003469,6918484251875.000977,23061614.172917
69175,216,Thailand,2532,Cassava and products,2017,vegetal,4757.000000,29409.000000,0.010000,2063.000000,...,0.000000,68439000.000000,2014,149881410000.000000,249802.350000,153000000.000000,979.617059,0.001633,4660038348823.529297,7766730.581373
69176,216,Thailand,2532,Cassava and products,2018,vegetal,12646.000000,22299.000000,0.000000,9677.000000,...,0.000000,68439000.000000,2014,74940705000.000000,249802.350000,90000000.000000,832.674500,0.002776,10530001727000.000000,35100005.756667

In [34]:
thailand_malnutrition=food_security[(food_security['Area'] =='Thailand')& (food_security['Item'] =='Prevalence of undernourishment (percent) (3-year average)')]     
thailand_malnutrition['Value']
## answer: 8.8%

3819    8.8
Name: Value, dtype: object